h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body,
a,
h1,
h2,
h3,
h4,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.logo {
  margin-right: 78px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .logo:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

.header {
  height: 800px;
  border-bottom-left-radius: 200px;
  background-color: #008aff;
  color: #fff; }
  .header__wrap {
    position: relative;
    margin: 0 auto;
    height: 800px;
    max-width: 1600px; }
  .header__container {
    max-width: 1136px;
    margin: 0 auto;
    padding: 0 15px; }
    .header__container--flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 45px 15px 0; }
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__link {
    display: block;
    padding: 7px 0;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 3px;
    color: #fff;
    white-space: nowrap;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9c8e), to(#ff9c8e));
    background-image: linear-gradient(#ff9c8e, #ff9c8e);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    -webkit-transition: background-size 0.3s;
    transition: background-size 0.3s; }
    .header__link:hover {
      background-size: 100% 2px; }
  .header__text-wrap {
    margin-top: 164px;
    max-width: 490px; }
  .header__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff; }
  .header__text {
    margin-bottom: 83px;
    font-size: 18px;
    line-height: 150%; }

@media (max-width: 1100px) {
  .header__text-wrap {
    margin: 164px auto;
    text-align: center; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  margin-right: 64px; }

.nav__link {
  display: block;
  padding: 7px 0;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  color: #fff;
  white-space: nowrap;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9c8e), to(#ff9c8e));
  background-image: linear-gradient(#ff9c8e, #ff9c8e);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s; }
  .nav__link:hover {
    background-size: 100% 2px; }

.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 687px;
  height: 680px;
  border-radius: 200px 0 0;
  background-image: url(../images/slider/slide-img-1.jpg); }
  .slider__arrow-left {
    position: absolute;
    bottom: 66px;
    left: 48px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .slider__arrow-right {
    position: absolute;
    bottom: 66px;
    left: 88px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .slider__arrow-right:hover, .slider__arrow-left:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .slider__intro {
    position: absolute;
    bottom: 48px;
    left: 144px;
    width: 264px; }
  .slider__intro-title {
    margin-bottom: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase; }

@media (max-width: 1100px) {
  .slider {
    display: none; } }

.about {
  padding: 148px 0; }
  .about__wrap {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 730px; }
  .about__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 32px; }
  .about__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%; }

.expertise {
  padding: 130px 0;
  background-color: #fff;
  text-align: center; }
  .expertise__title {
    margin-bottom: 64px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 52px; }

.expert {
  width: 264px; }
  .expert__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    max-width: 1146px;
    margin: 0 auto;
    padding: 0 15px; }
  .expert__title {
    padding: 40px 0 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 20px; }

@media (max-width: 900px) {
  .expert__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 15px; }
  .services__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .services__inner-1 {
    margin: 280px 30px 0 0; }
  .services__inner-2 {
    margin-top: 148px; }
  .services__item {
    margin-top: 30px;
    width: 264px;
    padding: 32px;
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
    border-radius: 24px;
    background-color: #fff; }
    .services__item--margin {
      position: absolute;
      z-index: 1; }

.process {
  margin-top: 250px;
  max-width: 362px; }
  .process__subtitle {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .process__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 32px; }

.item__number {
  width: 46px;
  padding: 2px 12px;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #56ccf2;
  background: rgba(86, 204, 242, 0.1);
  border-radius: 23px; }
  .item__number--green {
    color: #15d850;
    background: rgba(25, 255, 120, 0.1); }
  .item__number--yellow {
    color: #fcc91d;
    background: rgba(252, 201, 29, 0.1); }
  .item__number--amaranth {
    color: #f36363;
    background: rgba(243, 99, 99, 0.1); }

.item__list {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 13px; }

.item__wrap-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.item__arrow-link {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.item__arrow-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.item__link {
  display: block;
  margin-left: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #334563;
  -webkit-transition: 0.3;
  transition: 0.3; }
  .item__link:hover {
    color: #56ccf2; }

@media (max-width: 950px) {
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .services__inner-1, .services__inner-2 {
      margin-top: 30px; }
  .process {
    margin-top: 100px; } }

@media (max-width: 600px) {
  .services__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.work {
  position: relative;
  margin: 40px 0 148px auto;
  padding-top: 200px;
  height: 976px;
  max-width: 1479px;
  background-color: #ff9c8e;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  color: #fff; }
  .work__wrap {
    margin: 0 auto;
    height: 976px;
    max-width: 1600px; }
  .work__slider {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 687px;
    height: 680px;
    border-radius: 200px 0 0;
    background-image: url(../images/features/features-bg.jpg); }

.approach {
  margin-left: 200px;
  width: 362px; }
  .approach__subtitle {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7;
    color: #fff; }
  .approach__title {
    margin-bottom: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 32px;
    color: #fff; }
  .approach__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 64px; }
  .approach__icon {
    margin-right: 32px; }

@media (max-width: 1300px) {
  .approach {
    margin-left: 30px; } }

@media (max-width: 1100px) {
  .work__slider {
    display: none; }
  .approach {
    margin: 0 auto; } }

.testimonials {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 15px; }
  .testimonials__subtitle {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .testimonials__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 32px; }

.feedbacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 85px 0 168px; }

.person {
  padding: 0 32px 32px;
  text-align: center;
  width: 314px;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }
  .person__inner {
    position: relative; }
    .person__inner::after, .person__inner::before {
      position: absolute;
      content: "";
      width: 139px;
      height: 56px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .person__inner::before {
      top: 85px;
      left: 0; }
    .person__inner::after {
      top: 175px;
      right: 0; }
    .person__inner--yellow::after, .person__inner--yellow::before {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
    .person__inner--amaranth::after, .person__inner--amaranth::before {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .person__photo {
    position: relative;
    z-index: 1;
    margin: 87px 0 96px; }
  .person__text {
    position: relative; }
    .person__text::before {
      position: absolute;
      top: -50px;
      left: 50%;
      content: "";
      width: 24px;
      height: 24px;
      background-image: url(../images/testimonials/quotes-1.svg); }
    .person__text--yellow::before {
      background-image: url(../images/testimonials/quotes-2.svg); }
    .person__text--amaranth::before {
      background-image: url(../images/testimonials/quotes-3.svg); }
  .person__name {
    margin-top: 20px;
    font-weight: 600;
    color: #253757; }
  .person__company {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }

@media (max-width: 1000px) {
  .testimonials {
    text-align: center; }
  .feedbacks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .person {
    margin-bottom: 30px; } }

.slogan {
  padding: 200px 0 400px;
  background-color: #fff;
  text-align: center; }
  .slogan__wrap {
    margin: 0 auto;
    padding-top: 150px;
    max-width: 1450.8px;
    height: 546.86px;
    background-image: url(../images/ellipse/bg-shapes.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .slogan__inner {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 754px; }
  .slogan__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 52px; }
  .slogan__text {
    margin: 10px 0 64px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%; }

@media (max-width: 700px) {
  .slogan__wrap {
    padding: 0; } }

.footer {
  margin-top: -200px;
  padding-top: 180px;
  border-top-right-radius: 200px;
  background-color: #008aff;
  color: #fff; }
  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1146px;
    margin: 0 auto;
    padding: 0 15px; }
    .footer__inner--padding {
      padding-bottom: 80px; }
  .footer__form-wrap {
    width: 460px; }
  .footer__form-title {
    margin-bottom: 56px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    font-size: 32px;
    color: #fff; }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.form__item {
  margin-bottom: 48px; }

.form__input {
  display: block;
  width: 100%;
  padding: 17px;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background-color: #008aff;
  border: none;
  border-bottom: 1px solid #fff; }
  .form__input::-webkit-input-placeholder {
    color: inherit; }
  .form__input::-moz-placeholder {
    color: inherit; }
  .form__input:-ms-input-placeholder {
    color: inherit; }
  .form__input::-ms-input-placeholder {
    color: inherit; }
  .form__input::placeholder {
    color: inherit; }
  .form__input:focus {
    outline-color: #fff; }

.form__button {
  margin: 80px 0 120px; }

.contact__title {
  margin-bottom: 56px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 150%;
  color: #253757;
  font-size: 32px;
  color: #fff; }

.contact__item {
  margin-bottom: 48px; }

.contact__subtitle {
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c0cdd7;
  color: #fff;
  opacity: 0.5; }

.contact__link {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .contact__link:hover {
    color: #ff9c8e; }

.contact__address {
  font-weight: 600;
  font-size: 24px; }

.contact__icon {
  margin-right: 30px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .contact__icon:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }

@media (max-width: 900px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #f2f9ff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 150%;
  color: #6c788b; }

.button {
  display: inline-block;
  width: 226px;
  padding: 14px 70px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  border: 1px solid #ff9c8e;
  border-radius: 64px;
  color: #fff;
  background-color: #ff9c8e;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .button:hover {
    color: #ff9c8e;
    background-color: #fff; }

/*# sourceMappingURL=main.css.map */
